.card-item {
  margin-bottom: 2rem;
}

.card-image img {
  display: none;
}

.card-image {
  height: 0;
  padding-bottom: 60%;
  background-color: blanchedalmond;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card-desc {
  padding: 1em;
  background-color: cadetblue;
}

@media (min-width: 600px) {
  .card-list {
    display: flex;
    flex-wrap: wrap;
  }
  .card-item {
    width: 50%;
    /* padding: 0 1rem; */
  }
}