body {
	margin: 0;
  padding:0;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.menu-container {
  flex: 0.4;
  display: flex;
}

.content-container {
  flex: 1;
  overflow: scroll;
}