/* menu */
.menu-item {
  background: red;
  list-style: none;
  transition: 0.5s;
  flex-grow: 1;
}

.menu {
  margin: 0px;
  padding: 0px;
  flex: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.menu-item:hover {
  flex-grow: 1.5;
  background: crimson;
}

.menu-link {
  display: block;
  padding: 1em;
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
  text-align: center;
}

.menu-link:hover {
  color: white
}

.menu-description {
  visibility: hidden;
}

.menu-item:hover > .menu-description {
  visibility: visible;
}